@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: vazir;
    src: url('../../public/src/fonts/Vazir.woff');
    src: url('../../public/src/fonts/Vazir.woff2');
}
@font-face {
    font-family: iranSans;
    src: url('../../public/src/fonts/IranianSans.ttf');
}
@font-face {
    font-family: yekan;
    src: url('../../public/src/fonts/Yekan.ttf');
}
body{
    direction: rtl;
}

@layer components{
    .menu-non-show{
        @apply -right-full
    }
    .menu-show{
        @apply right-0
    }

    .menu-user-non-show{
        @apply -left-full invisible
    }
    .menu-user-show{
        @apply left-0 visible
    }
    .select-dollar{
        @apply rounded-md border-2 border-yellow-600 shadow-2xl shadow-yellow-600
    }

    tr:nth-child(even) {
        @apply bg-gray-300;
    }
    tr:nth-child(odd) {
        @apply text-white;
    }
    .notifyBox{
        animation-name: notify;
        animation-direction:alternate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(.12,.65,.9,0);

    }
    @keyframes notify {
        /*from{ background-color: rgb(244 63 94 / var(--tw-bg-opacity));color: black}*/
        /*to{background-color: #ffffff ;color: black}*/
    }

}
